  .color{
  position: absolute;
  left: 0px;
  top: 0px;
  
  }
  
    svg{ 
      margin: auto;
    }
      #button{
        cursor: pointer;
      }
      .graphe_container{
       -moz-transform-origin: 160px 160px;
        -ms-transform-origin:  160px 160px;
        -o-transform-origin: 160px 160px;
        -webkit-transform-origin:  160px 160px;
        transform-origin: 160px 160px;
      }
      rect,circle{
        user-select: none;
        -webkit-user-select:none;
        -moz-user-select:none;
      }
      
      
      
      
      
      
      

rect {

	stroke: black;
	display: inline-block;
}
#hierarchypart{
	flex-direction: row;
}

.ordering{
	display: flex;
	flex-direction: row;
}

.vide1, .vide2 {
	width: 50px;
	height: 50px;
	background-color: blue;
}

.vide2 {
	background-color: red;
	order: -1;
}

.inside{
	flex-direction: row;
	display: flex;
	
}

.container_essai{
	flex-direction: row;
	display: flex;
}













body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}


.tooltip {
  position: absolute;
  padding: 8px;
  text-align: left;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0px;
  border-radius: 2px;

  opacity: 0;
}

